@charset "UTF-8";
@import "../css/content-cards.css";

$sparrow-white: #D9D9D9;
$sparrow-tan: #C8BDB0;
$sparrow-brown: #86552D;
$sparrow-dark-brown: #3E2318;
$sparrow-grey: #A09289;
$sparrow-black: #0D0C08;

$content-max-width: 1080px;
$mobile-content-width: 95%;
$desktop-content-width: 90%;

$nav-height: 6rem;
$mobile-nav-height: 168px;

:root {
    --scroll: 0;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    font-size: 1.8em;
    margin: 0;
    padding: 0;
    background-color: $sparrow-white;
}


.hidden {
    display: none;
}

/*                  --- header styles ---*/
header::before {
    display: block;
    width: 100vw;
    height: 400vh;
    content: " ";
}

main>section, header>section {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.logo {
    --image-width: min(400px, 80vw);
    --image-height: min(400px, 80vw);
    aspect-ratio: 1 / 1;
    object-fit: cover;
    width: var(--image-width);
    height: var(--image-height);
    background-color: $sparrow-dark-brown;
}

.rounded-image, .logo {
    border-radius: 50%;
    border: 2px solid $sparrow-black;
}

.header-text {
    text-align: center;
    white-space: nowrap;
    font-size: 4vw;
    font-family: 'Mitr', sans-serif;
    width: 100%;
    height: fit-content;
    position: fixed;
    top: calc(48vh + 2em + 1.9em);
    left:0;

    h1 {
        font-size: 2em;
        color: $sparrow-white;
        margin: 0;
    }

    p {
        font-size: 1.9em;
        color: $sparrow-tan;
        margin: 0;
    }
}

/*Sparrow detail page*/
#sparrow-detail {
    background-color: $sparrow-brown;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

#sparrow-detail-logo {
    position: fixed;
    top: calc(30vh - (var(--image-height) / 2));
    left: calc(50% - (var(--image-width) / 2));
}

/*About me page*/
#about-me {
    display: flex;
    position: fixed;
    background-color: $sparrow-black;
    top: 0;
    left: 0;
    z-index: 4;
}


#about-me-page {
    margin: auto;
    box-shadow: 0px 0px 50px -9px $sparrow-white;

    /* Custom web-card styles */
    --width: 90%;
    --height: 90%;

    h1 {
        font-size: 4em;
    }
}

#profile-image {
    width: 100%;
    height: fit-content;
    max-width: 500px;
}

/*Desktop viewport styles*/
@media only screen and (min-width: 820px) {
    @import "./desktop.scss";
}

//Animation styles
@import "./animations.scss";