@import "../css/content-cards.css";

$sparrow-white: #D9D9D9;
$sparrow-tan: #C8BDB0;
$sparrow-brown: #86552D;
$sparrow-dark-brown: #3E2318;
$sparrow-grey: #A09289;
$sparrow-black: #0D0C08;

$content-max-width: 1080px;
$mobile-content-width: 95%;
$desktop-content-width: 90%;

$nav-height: 6rem;
$mobile-nav-height: 168px;

:root {
    --scroll: 0;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    font-size: 1.8em;
    margin: 0;
    padding: 0;
    background-color: $sparrow-white;
}

/*                  --- header styles ---*/
header::before {
    display: block;
    width: 100vw;
    height: 400vh;
    content: " ";
}

body>section, header>section {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.logo {
    --image-width: min(400px, 80vw);
    --image-height: min(400px, 80vw);
    aspect-ratio: 1 / 1;
    object-fit: cover;
    width: var(--image-width);
    height: var(--image-height);
    border: 2px solid $sparrow-black;
    border-radius: 50%;
    background-color: $sparrow-dark-brown;
}

.header-text {
    text-align: center;
    white-space: nowrap;
    font-size: 4vw;
    font-family: 'Mitr', sans-serif;
    width: 100%;
    height: fit-content;
    position: fixed;
    top: calc(48vh + 2em + 1.9em);
    left:0;

    h1 {
        font-size: 2em;
        color: $sparrow-white;
        margin: 0;
    }

    p {
        font-size: 1.9em;
        color: $sparrow-tan;
        margin: 0;
    }
}

#sparrow-detail {
    background-color: $sparrow-brown;
    position: fixed;
    top: 0;
    left: 0;
}

#sparrow-detail-logo {
    position: fixed;
    top: calc(30vh - (var(--image-height) / 2));
    left: calc(50% - (var(--image-width) / 2));
}

#about-me {
    display: flex;
    position: fixed;
    top: 100vh;
    left: 0;
}


#about-me-page {
    margin: auto;

    /* Custom web-card styles */
    --width: 70vw;
    --height: 60vh;
}

/*Desktop viewport styles*/
@media only screen and (min-width: 820px) {
    :root{
        --image-viewport-width: 520px;
    }

/*                  --- header styles ---*/
    .logo {
        --image-width: min(500px, 40vw);
        --image-height: min(500px, 40vw);
    }

    .header-text {
        width: fit-content;
        height: 100vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: min(50px, 3vw);
        top: 0;
        left: min(calc(var(--image-viewport-width) + 2rem), 50vw);
    }

    #sparrow-detail {
        background: linear-gradient(
        90deg,
        $sparrow-grey 0%,
        $sparrow-grey min(520px, 45vw),
        $sparrow-brown min(520px, 45vw)
        );
    }

    #sparrow-detail-logo {
        position: fixed;
        top: calc(50vh - (var(--image-height) / 2));
        left: calc(var(--image-viewport-width) - var(--image-width));
        left: calc(min(var(--image-viewport-width) / 2, 45vw / 2) - (var(--image-width) / 2));
    }
}

/*Animation accessibility - no preference*/
@media (prefers-reduced-motion: no-preference) {
    #sparrow-detail {
        animation: window-slide-1s cubic-bezier(1,.12,.34,-0.05) 1s;
    }

    #sparrow-detail-logo {
        animation: image-fade-out ease-out 1s;
    }

    .header-text {
        animation: text-fade-out ease-out 1s;
    }

    #sparrow-detail, #sparrow-detail-logo, .header-text {
        animation-play-state: paused;
        animation-delay: calc(var(--scroll) * -1s);
        animation-iteration-count: 1;
        animation-fill-mode: both;
    }

    #about-me {
        animation: window-slide-2s cubic-bezier(1,.12,.34,-0.05) 2s;
        animation-play-state: paused;
        animation-delay: calc(var(--scroll) * -1s);
        animation-iteration-count: 1;
        animation-fill-mode: both;
    }

    @keyframes window-slide-1s {
        0% {transform: translateY(0%);}
        100% {transform: translateY(-100%); opacity: 0.1;}
    }

    @keyframes window-slide-2s {
        50% {transform: translateY(-100%);}
        100% {transform: translateY(-200%); opacity: 0.1;}
    }

    @keyframes image-fade-out {
        100% {
            opacity: 0;
            transform: translateX(-100%);
        }
    }

    @keyframes text-fade-out {
        100% {
            opacity: 0;
            transform: translateX(100%);
        }
    }
}

/*Animation accessibility - reduced*/
@media (prefers-reduced-motion: reduced) {
    #sparrow-detail {
        transform: translateY(min(0%, calc(-1% * (100 * var(--scroll)) + 40%)));
    }
}