@import "../css/content-cards.css";
:root {
  --scroll: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-size: 1.8em;
  margin: 0;
  padding: 0;
  background-color: #D9D9D9;
}

/*                  --- header styles ---*/
header::before {
  display: block;
  width: 100vw;
  height: 400vh;
  content: " ";
}

main > section, header > section {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.logo {
  --image-width: min(400px, 80vw);
  --image-height: min(400px, 80vw);
  aspect-ratio: 1/1;
  object-fit: cover;
  width: var(--image-width);
  height: var(--image-height);
  border: 2px solid #0D0C08;
  border-radius: 50%;
  background-color: #3E2318;
}

.header-text {
  text-align: center;
  white-space: nowrap;
  font-size: 4vw;
  font-family: "Mitr", sans-serif;
  width: 100%;
  height: fit-content;
  position: fixed;
  top: calc(48vh + 2em + 1.9em);
  left: 0;
}
.header-text h1 {
  font-size: 2em;
  color: #D9D9D9;
  margin: 0;
}
.header-text p {
  font-size: 1.9em;
  color: #C8BDB0;
  margin: 0;
}

#sparrow-detail {
  background-color: #86552D;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

#sparrow-detail-logo {
  position: fixed;
  top: calc(30vh - var(--image-height) / 2);
  left: calc(50% - var(--image-width) / 2);
}

#about-me {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
}

#about-me-page {
  margin: auto;
  /* Custom web-card styles */
  --width: 70vw;
  --height: 60vh;
}

/*Desktop viewport styles*/
@media only screen and (min-width: 820px) {
  :root {
    --image-viewport-width: 520px;
  }
  /*                  --- header styles ---*/
  .logo {
    --image-width: min(500px, 40vw);
    --image-height: min(500px, 40vw);
  }
  .header-text {
    width: fit-content;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: min(50px, 3vw);
    top: 0;
    left: min(var(--image-viewport-width) + 2rem, 50vw);
  }
  #sparrow-detail {
    background: linear-gradient(90deg, #A09289 0%, #A09289 min(520px, 45vw), #86552D min(520px, 45vw));
  }
  #sparrow-detail-logo {
    position: fixed;
    top: calc(50vh - var(--image-height) / 2);
    left: calc(var(--image-viewport-width) - var(--image-width));
    left: calc(min(var(--image-viewport-width) / 2, 22.5vw) - var(--image-width) / 2);
  }
}
#author-name {
  --typing-character-count: 12;
}

.type-animation, .type-animation-container {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  width: fit-content;
  height: fit-content;
  max-width: fit-content;
  height: fit-content;
}

/*Animation accessibility - no preference*/
@media (prefers-reduced-motion: no-preference) {
  #sparrow-detail {
    animation: window-slide cubic-bezier(1, 0.12, 0.34, -0.05) 1s;
  }
  #sparrow-detail-logo {
    animation: image-fade-out ease-out 1s;
  }
  .header-text {
    animation: text-fade-out ease-out 1s;
  }
  #sparrow-detail, #sparrow-detail-logo, .header-text {
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
  }
  #about-me {
    animation: window-slide cubic-bezier(1, 0.12, 0.34, -0.05) 2s;
    animation-play-state: paused;
    animation-delay: calc(max(0, var(--scroll) - 1) * -1s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
  }
  @keyframes window-slide {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(-100%);
      opacity: 0.1;
    }
  }
  @keyframes image-fade-out {
    100% {
      opacity: 0;
      transform: translateX(-100%);
    }
  }
  @keyframes text-fade-out {
    100% {
      opacity: 0;
      transform: translateX(100%);
    }
  }
  .type-animation {
    /*modify variables to meet needs*/
    --cursor-color: black;
    --typing-character-count: 10;
    border-right: var(--cursor-color) solid 0.5em;
    animation: typing 1s steps(calc(var(--typing-character-count) + 1)) forwards 1, typing-cursor 1s step-end infinite;
  }
  @keyframes typing {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  @keyframes typing-cursor {
    50% {
      border-right: transparent;
    }
  }
}
/*Animation accessibility - reduced*/
@media (prefers-reduced-motion: reduced) {
  #sparrow-detail {
    transform: translateY(min(0%, -1% * 100 * var(--scroll)));
  }
  #about-me {
    top: 100vh;
    transform: translateY(min(0%, -1% * 100 * var(--scroll)));
  }
}

/*# sourceMappingURL=styles.css.map */
